# Prerequisites
*.d

# temporary fiies
*~
\#*

# Python cached files
**/__pycache__

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data
*.slcio
*.pickle
*.npy
*.root
**/data

# Sim macros, output and error logs
*.mac
*.sh.e*
*.sh.o*


# Folders
# generation/run_scripts/TB2017-06/steer/*
# generation/run_scripts/TB2017-06/log/*
# generation/run_scripts/TB2017-06/data/*
# generation/run_scripts/TB2017-06/macros/*
# generation/run_scripts/TB2021-11/steer/*
# generation/run_scripts/TB2021-11/log/*
# generation/run_scripts/TB2021-11/data/*
# generation/run_scripts/TB2021-11/macros/*
# generation/run_scripts/TB2022-03/steer/*
# generation/run_scripts/TB2022-03/log/*
# generation/run_scripts/TB2022-03/data/*
# generation/run_scripts/TB2022-03/macros/*
generation/run_scripts/TB20*/steer
generation/run_scripts/TB20*/log
generation/run_scripts/TB20*/geometry
generation/plotting/*
generation/benchmark

processors/*/build/
processors/*/lib/
processors/*/test/
processors/build_root

processors/build/*
processors/lib/*

!processors/steering/
processors/steering/*
!processors/steering/templates/

masking/*.sh
masking/masked_channels
masking/Run_Settings

.vscode

*/build/*
*/CMakeFiles/*

